<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Añadir nueva pelicula</h1>
    <% if @movie.errors.full_messages.any? %>
      <% @movie.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
      <% end %>
    <%= render "form"%>
  </body>
</html>
