// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  padding: 0;
  margin: 0
}

button a {
  color: white;
  text-decoration: none;
  font-size: 15px
}

table {
  background-color: #333333;
  color: #e7c230;
}
